a.struct[title="struct syn_send::token::Abstract"],
a.struct[title="struct syn_send::token::And"],
a.struct[title="struct syn_send::token::AndAnd"],
a.struct[title="struct syn_send::token::AndEq"],
a.struct[title="struct syn_send::token::As"],
a.struct[title="struct syn_send::token::Async"],
a.struct[title="struct syn_send::token::At"],
a.struct[title="struct syn_send::token::Auto"],
a.struct[title="struct syn_send::token::Await"],
a.struct[title="struct syn_send::token::Become"],
a.struct[title="struct syn_send::token::Box"],
a.struct[title="struct syn_send::token::Break"],
a.struct[title="struct syn_send::token::Caret"],
a.struct[title="struct syn_send::token::CaretEq"],
a.struct[title="struct syn_send::token::Colon"],
a.struct[title="struct syn_send::token::Comma"],
a.struct[title="struct syn_send::token::Const"],
a.struct[title="struct syn_send::token::Continue"],
a.struct[title="struct syn_send::token::Crate"],
a.struct[title="struct syn_send::token::Default"],
a.struct[title="struct syn_send::token::Do"],
a.struct[title="struct syn_send::token::Dollar"],
a.struct[title="struct syn_send::token::Dot"],
a.struct[title="struct syn_send::token::DotDot"],
a.struct[title="struct syn_send::token::DotDotDot"],
a.struct[title="struct syn_send::token::DotDotEq"],
a.struct[title="struct syn_send::token::Dyn"],
a.struct[title="struct syn_send::token::Else"],
a.struct[title="struct syn_send::token::Enum"],
a.struct[title="struct syn_send::token::Eq"],
a.struct[title="struct syn_send::token::EqEq"],
a.struct[title="struct syn_send::token::Extern"],
a.struct[title="struct syn_send::token::FatArrow"],
a.struct[title="struct syn_send::token::Final"],
a.struct[title="struct syn_send::token::Fn"],
a.struct[title="struct syn_send::token::For"],
a.struct[title="struct syn_send::token::Ge"],
a.struct[title="struct syn_send::token::Gt"],
a.struct[title="struct syn_send::token::If"],
a.struct[title="struct syn_send::token::Impl"],
a.struct[title="struct syn_send::token::In"],
a.struct[title="struct syn_send::token::LArrow"],
a.struct[title="struct syn_send::token::Le"],
a.struct[title="struct syn_send::token::Let"],
a.struct[title="struct syn_send::token::Loop"],
a.struct[title="struct syn_send::token::Lt"],
a.struct[title="struct syn_send::token::Macro"],
a.struct[title="struct syn_send::token::Match"],
a.struct[title="struct syn_send::token::Minus"],
a.struct[title="struct syn_send::token::MinusEq"],
a.struct[title="struct syn_send::token::Mod"],
a.struct[title="struct syn_send::token::Move"],
a.struct[title="struct syn_send::token::Mut"],
a.struct[title="struct syn_send::token::Ne"],
a.struct[title="struct syn_send::token::Not"],
a.struct[title="struct syn_send::token::Or"],
a.struct[title="struct syn_send::token::OrEq"],
a.struct[title="struct syn_send::token::OrOr"],
a.struct[title="struct syn_send::token::Override"],
a.struct[title="struct syn_send::token::PathSep"],
a.struct[title="struct syn_send::token::Percent"],
a.struct[title="struct syn_send::token::PercentEq"],
a.struct[title="struct syn_send::token::Plus"],
a.struct[title="struct syn_send::token::PlusEq"],
a.struct[title="struct syn_send::token::Pound"],
a.struct[title="struct syn_send::token::Priv"],
a.struct[title="struct syn_send::token::Pub"],
a.struct[title="struct syn_send::token::Question"],
a.struct[title="struct syn_send::token::RArrow"],
a.struct[title="struct syn_send::token::Raw"],
a.struct[title="struct syn_send::token::Ref"],
a.struct[title="struct syn_send::token::Return"],
a.struct[title="struct syn_send::token::SelfType"],
a.struct[title="struct syn_send::token::SelfValue"],
a.struct[title="struct syn_send::token::Semi"],
a.struct[title="struct syn_send::token::Shl"],
a.struct[title="struct syn_send::token::ShlEq"],
a.struct[title="struct syn_send::token::Shr"],
a.struct[title="struct syn_send::token::ShrEq"],
a.struct[title="struct syn_send::token::Slash"],
a.struct[title="struct syn_send::token::SlashEq"],
a.struct[title="struct syn_send::token::Star"],
a.struct[title="struct syn_send::token::StarEq"],
a.struct[title="struct syn_send::token::Static"],
a.struct[title="struct syn_send::token::Struct"],
a.struct[title="struct syn_send::token::Super"],
a.struct[title="struct syn_send::token::Tilde"],
a.struct[title="struct syn_send::token::Trait"],
a.struct[title="struct syn_send::token::Try"],
a.struct[title="struct syn_send::token::Type"],
a.struct[title="struct syn_send::token::Typeof"],
a.struct[title="struct syn_send::token::Underscore"],
a.struct[title="struct syn_send::token::Union"],
a.struct[title="struct syn_send::token::Unsafe"],
a.struct[title="struct syn_send::token::Unsized"],
a.struct[title="struct syn_send::token::Use"],
a.struct[title="struct syn_send::token::Virtual"],
a.struct[title="struct syn_send::token::Where"],
a.struct[title="struct syn_send::token::While"],
a.struct[title="struct syn_send::token::Yield"] {
	display: inline-block;
	color: transparent;
	white-space: nowrap;
}

a.struct[title="struct syn_send::token::Abstract"]::before,
a.struct[title="struct syn_send::token::And"]::before,
a.struct[title="struct syn_send::token::AndAnd"]::before,
a.struct[title="struct syn_send::token::AndEq"]::before,
a.struct[title="struct syn_send::token::As"]::before,
a.struct[title="struct syn_send::token::Async"]::before,
a.struct[title="struct syn_send::token::At"]::before,
a.struct[title="struct syn_send::token::Auto"]::before,
a.struct[title="struct syn_send::token::Await"]::before,
a.struct[title="struct syn_send::token::Become"]::before,
a.struct[title="struct syn_send::token::Box"]::before,
a.struct[title="struct syn_send::token::Break"]::before,
a.struct[title="struct syn_send::token::Caret"]::before,
a.struct[title="struct syn_send::token::CaretEq"]::before,
a.struct[title="struct syn_send::token::Colon"]::before,
a.struct[title="struct syn_send::token::Comma"]::before,
a.struct[title="struct syn_send::token::Const"]::before,
a.struct[title="struct syn_send::token::Continue"]::before,
a.struct[title="struct syn_send::token::Crate"]::before,
a.struct[title="struct syn_send::token::Default"]::before,
a.struct[title="struct syn_send::token::Do"]::before,
a.struct[title="struct syn_send::token::Dollar"]::before,
a.struct[title="struct syn_send::token::Dot"]::before,
a.struct[title="struct syn_send::token::DotDot"]::before,
a.struct[title="struct syn_send::token::DotDotDot"]::before,
a.struct[title="struct syn_send::token::DotDotEq"]::before,
a.struct[title="struct syn_send::token::Dyn"]::before,
a.struct[title="struct syn_send::token::Else"]::before,
a.struct[title="struct syn_send::token::Enum"]::before,
a.struct[title="struct syn_send::token::Eq"]::before,
a.struct[title="struct syn_send::token::EqEq"]::before,
a.struct[title="struct syn_send::token::Extern"]::before,
a.struct[title="struct syn_send::token::FatArrow"]::before,
a.struct[title="struct syn_send::token::Final"]::before,
a.struct[title="struct syn_send::token::Fn"]::before,
a.struct[title="struct syn_send::token::For"]::before,
a.struct[title="struct syn_send::token::Ge"]::before,
a.struct[title="struct syn_send::token::Gt"]::before,
a.struct[title="struct syn_send::token::If"]::before,
a.struct[title="struct syn_send::token::Impl"]::before,
a.struct[title="struct syn_send::token::In"]::before,
a.struct[title="struct syn_send::token::LArrow"]::before,
a.struct[title="struct syn_send::token::Le"]::before,
a.struct[title="struct syn_send::token::Let"]::before,
a.struct[title="struct syn_send::token::Loop"]::before,
a.struct[title="struct syn_send::token::Lt"]::before,
a.struct[title="struct syn_send::token::Macro"]::before,
a.struct[title="struct syn_send::token::Match"]::before,
a.struct[title="struct syn_send::token::Minus"]::before,
a.struct[title="struct syn_send::token::MinusEq"]::before,
a.struct[title="struct syn_send::token::Mod"]::before,
a.struct[title="struct syn_send::token::Move"]::before,
a.struct[title="struct syn_send::token::Mut"]::before,
a.struct[title="struct syn_send::token::Ne"]::before,
a.struct[title="struct syn_send::token::Not"]::before,
a.struct[title="struct syn_send::token::Or"]::before,
a.struct[title="struct syn_send::token::OrEq"]::before,
a.struct[title="struct syn_send::token::OrOr"]::before,
a.struct[title="struct syn_send::token::Override"]::before,
a.struct[title="struct syn_send::token::PathSep"]::before,
a.struct[title="struct syn_send::token::Percent"]::before,
a.struct[title="struct syn_send::token::PercentEq"]::before,
a.struct[title="struct syn_send::token::Plus"]::before,
a.struct[title="struct syn_send::token::PlusEq"]::before,
a.struct[title="struct syn_send::token::Pound"]::before,
a.struct[title="struct syn_send::token::Priv"]::before,
a.struct[title="struct syn_send::token::Pub"]::before,
a.struct[title="struct syn_send::token::Question"]::before,
a.struct[title="struct syn_send::token::RArrow"]::before,
a.struct[title="struct syn_send::token::Raw"]::before,
a.struct[title="struct syn_send::token::Ref"]::before,
a.struct[title="struct syn_send::token::Return"]::before,
a.struct[title="struct syn_send::token::SelfType"]::before,
a.struct[title="struct syn_send::token::SelfValue"]::before,
a.struct[title="struct syn_send::token::Semi"]::before,
a.struct[title="struct syn_send::token::Shl"]::before,
a.struct[title="struct syn_send::token::ShlEq"]::before,
a.struct[title="struct syn_send::token::Shr"]::before,
a.struct[title="struct syn_send::token::ShrEq"]::before,
a.struct[title="struct syn_send::token::Slash"]::before,
a.struct[title="struct syn_send::token::SlashEq"]::before,
a.struct[title="struct syn_send::token::Star"]::before,
a.struct[title="struct syn_send::token::StarEq"]::before,
a.struct[title="struct syn_send::token::Static"]::before,
a.struct[title="struct syn_send::token::Struct"]::before,
a.struct[title="struct syn_send::token::Super"]::before,
a.struct[title="struct syn_send::token::Tilde"]::before,
a.struct[title="struct syn_send::token::Trait"]::before,
a.struct[title="struct syn_send::token::Try"]::before,
a.struct[title="struct syn_send::token::Type"]::before,
a.struct[title="struct syn_send::token::Typeof"]::before,
a.struct[title="struct syn_send::token::Underscore"]::before,
a.struct[title="struct syn_send::token::Union"]::before,
a.struct[title="struct syn_send::token::Unsafe"]::before,
a.struct[title="struct syn_send::token::Unsized"]::before,
a.struct[title="struct syn_send::token::Use"]::before,
a.struct[title="struct syn_send::token::Virtual"]::before,
a.struct[title="struct syn_send::token::Where"]::before,
a.struct[title="struct syn_send::token::While"]::before,
a.struct[title="struct syn_send::token::Yield"]::before {
	display: inline-block;
	color: var(--type-link-color);
	width: 0;
}

a.struct[title="struct syn_send::token::Abstract"]::before {
	content: "Token![abstract]";
}

a.struct[title="struct syn_send::token::And"]::before {
	content: "Token![&]";
}

a.struct[title="struct syn_send::token::AndAnd"]::before {
	content: "Token![&&]";
}

a.struct[title="struct syn_send::token::AndEq"]::before {
	content: "Token![&=]";
}

a.struct[title="struct syn_send::token::As"]::before {
	content: "Token![as]";
}

a.struct[title="struct syn_send::token::Async"]::before {
	content: "Token![async]";
}

a.struct[title="struct syn_send::token::At"]::before {
	content: "Token![@]";
}

a.struct[title="struct syn_send::token::Auto"]::before {
	content: "Token![auto]";
}

a.struct[title="struct syn_send::token::Await"]::before {
	content: "Token![await]";
}

a.struct[title="struct syn_send::token::Become"]::before {
	content: "Token![become]";
}

a.struct[title="struct syn_send::token::Box"]::before {
	content: "Token![box]";
}

a.struct[title="struct syn_send::token::Break"]::before {
	content: "Token![break]";
}

a.struct[title="struct syn_send::token::Caret"]::before {
	content: "Token![^]";
}

a.struct[title="struct syn_send::token::CaretEq"]::before {
	content: "Token![^=]";
}

a.struct[title="struct syn_send::token::Colon"]::before {
	content: "Token![:]";
}

a.struct[title="struct syn_send::token::Comma"]::before {
	content: "Token![,]";
}

a.struct[title="struct syn_send::token::Const"]::before {
	content: "Token![const]";
}

a.struct[title="struct syn_send::token::Continue"]::before {
	content: "Token![continue]";
}

a.struct[title="struct syn_send::token::Crate"]::before {
	content: "Token![crate]";
}

a.struct[title="struct syn_send::token::Default"]::before {
	content: "Token![default]";
}

a.struct[title="struct syn_send::token::Do"]::before {
	content: "Token![do]";
}

a.struct[title="struct syn_send::token::Dollar"]::before {
	content: "Token![$]";
}

a.struct[title="struct syn_send::token::Dot"]::before {
	content: "Token![.]";
}

a.struct[title="struct syn_send::token::DotDot"]::before {
	content: "Token![..]";
}

a.struct[title="struct syn_send::token::DotDotDot"]::before {
	content: "Token![...]";
}

a.struct[title="struct syn_send::token::DotDotEq"]::before {
	content: "Token![..=]";
}

a.struct[title="struct syn_send::token::Dyn"]::before {
	content: "Token![dyn]";
}

a.struct[title="struct syn_send::token::Else"]::before {
	content: "Token![else]";
}

a.struct[title="struct syn_send::token::Enum"]::before {
	content: "Token![enum]";
}

a.struct[title="struct syn_send::token::Eq"]::before {
	content: "Token![=]";
}

a.struct[title="struct syn_send::token::EqEq"]::before {
	content: "Token![==]";
}

a.struct[title="struct syn_send::token::Extern"]::before {
	content: "Token![extern]";
}

a.struct[title="struct syn_send::token::FatArrow"]::before {
	content: "Token![=>]";
}

a.struct[title="struct syn_send::token::Final"]::before {
	content: "Token![final]";
}

a.struct[title="struct syn_send::token::Fn"]::before {
	content: "Token![fn]";
}

a.struct[title="struct syn_send::token::For"]::before {
	content: "Token![for]";
}

a.struct[title="struct syn_send::token::Ge"]::before {
	content: "Token![>=]";
}

a.struct[title="struct syn_send::token::Gt"]::before {
	content: "Token![>]";
}

a.struct[title="struct syn_send::token::If"]::before {
	content: "Token![if]";
}

a.struct[title="struct syn_send::token::Impl"]::before {
	content: "Token![impl]";
}

a.struct[title="struct syn_send::token::In"]::before {
	content: "Token![in]";
}

a.struct[title="struct syn_send::token::LArrow"]::before {
	content: "Token![<-]";
}

a.struct[title="struct syn_send::token::Le"]::before {
	content: "Token![<=]";
}

a.struct[title="struct syn_send::token::Let"]::before {
	content: "Token![let]";
}

a.struct[title="struct syn_send::token::Loop"]::before {
	content: "Token![loop]";
}

a.struct[title="struct syn_send::token::Lt"]::before {
	content: "Token![<]";
}

a.struct[title="struct syn_send::token::Macro"]::before {
	content: "Token![macro]";
}

a.struct[title="struct syn_send::token::Match"]::before {
	content: "Token![match]";
}

a.struct[title="struct syn_send::token::Minus"]::before {
	content: "Token![-]";
}

a.struct[title="struct syn_send::token::MinusEq"]::before {
	content: "Token![-=]";
}

a.struct[title="struct syn_send::token::Mod"]::before {
	content: "Token![mod]";
}

a.struct[title="struct syn_send::token::Move"]::before {
	content: "Token![move]";
}

a.struct[title="struct syn_send::token::Mut"]::before {
	content: "Token![mut]";
}

a.struct[title="struct syn_send::token::Ne"]::before {
	content: "Token![!=]";
}

a.struct[title="struct syn_send::token::Not"]::before {
	content: "Token![!]";
}

a.struct[title="struct syn_send::token::Or"]::before {
	content: "Token![|]";
}

a.struct[title="struct syn_send::token::OrEq"]::before {
	content: "Token![|=]";
}

a.struct[title="struct syn_send::token::OrOr"]::before {
	content: "Token![||]";
}

a.struct[title="struct syn_send::token::Override"]::before {
	content: "Token![override]";
}

a.struct[title="struct syn_send::token::PathSep"]::before {
	content: "Token![::]";
}

a.struct[title="struct syn_send::token::Percent"]::before {
	content: "Token![%]";
}

a.struct[title="struct syn_send::token::PercentEq"]::before {
	content: "Token![%=]";
}

a.struct[title="struct syn_send::token::Plus"]::before {
	content: "Token![+]";
}

a.struct[title="struct syn_send::token::PlusEq"]::before {
	content: "Token![+=]";
}

a.struct[title="struct syn_send::token::Pound"]::before {
	content: "Token![#]";
}

a.struct[title="struct syn_send::token::Priv"]::before {
	content: "Token![priv]";
}

a.struct[title="struct syn_send::token::Pub"]::before {
	content: "Token![pub]";
}

a.struct[title="struct syn_send::token::Question"]::before {
	content: "Token![?]";
}

a.struct[title="struct syn_send::token::RArrow"]::before {
	content: "Token![->]";
}

a.struct[title="struct syn_send::token::Raw"]::before {
	content: "Token![raw]";
}

a.struct[title="struct syn_send::token::Ref"]::before {
	content: "Token![ref]";
}

a.struct[title="struct syn_send::token::Return"]::before {
	content: "Token![return]";
}

a.struct[title="struct syn_send::token::SelfType"]::before {
	content: "Token![Self]";
}

a.struct[title="struct syn_send::token::SelfValue"]::before {
	content: "Token![self]";
}

a.struct[title="struct syn_send::token::Semi"]::before {
	content: "Token![;]";
}

a.struct[title="struct syn_send::token::Shl"]::before {
	content: "Token![<<]";
}

a.struct[title="struct syn_send::token::ShlEq"]::before {
	content: "Token![<<=]";
}

a.struct[title="struct syn_send::token::Shr"]::before {
	content: "Token![>>]";
}

a.struct[title="struct syn_send::token::ShrEq"]::before {
	content: "Token![>>=]";
}

a.struct[title="struct syn_send::token::Slash"]::before {
	content: "Token![/]";
}

a.struct[title="struct syn_send::token::SlashEq"]::before {
	content: "Token![/=]";
}

a.struct[title="struct syn_send::token::Star"]::before {
	content: "Token![*]";
}

a.struct[title="struct syn_send::token::StarEq"]::before {
	content: "Token![*=]";
}

a.struct[title="struct syn_send::token::Static"]::before {
	content: "Token![static]";
}

a.struct[title="struct syn_send::token::Struct"]::before {
	content: "Token![struct]";
}

a.struct[title="struct syn_send::token::Super"]::before {
	content: "Token![super]";
}

a.struct[title="struct syn_send::token::Tilde"]::before {
	content: "Token![~]";
}

a.struct[title="struct syn_send::token::Trait"]::before {
	content: "Token![trait]";
}

a.struct[title="struct syn_send::token::Try"]::before {
	content: "Token![try]";
}

a.struct[title="struct syn_send::token::Type"]::before {
	content: "Token![type]";
}

a.struct[title="struct syn_send::token::Typeof"]::before {
	content: "Token![typeof]";
}

a.struct[title="struct syn_send::token::Underscore"]::before {
	content: "Token![_]";
	font-size: calc(100% * 10 / 9);
}

a.struct[title="struct syn_send::token::Union"]::before {
	content: "Token![union]";
}

a.struct[title="struct syn_send::token::Unsafe"]::before {
	content: "Token![unsafe]";
}

a.struct[title="struct syn_send::token::Unsized"]::before {
	content: "Token![unsized]";
}

a.struct[title="struct syn_send::token::Use"]::before {
	content: "Token![use]";
}

a.struct[title="struct syn_send::token::Virtual"]::before {
	content: "Token![virtual]";
}

a.struct[title="struct syn_send::token::Where"]::before {
	content: "Token![where]";
}

a.struct[title="struct syn_send::token::While"]::before {
	content: "Token![while]";
}

a.struct[title="struct syn_send::token::Yield"]::before {
	content: "Token![yield]";
}

a.struct[title="struct syn_send::token::Underscore"] {
	font-size: calc(100% * 9 / 10);
}

a.struct[title="struct syn_send::token::PercentEq"]::after,
a.struct[title="struct syn_send::token::Question"]::after {
	content: ".";
}

a.struct[title="struct syn_send::token::DotDotDot"]::after,
a.struct[title="struct syn_send::token::FatArrow"]::after,
a.struct[title="struct syn_send::token::Percent"]::after {
	content: "..";
}

a.struct[title="struct syn_send::token::CaretEq"]::after,
a.struct[title="struct syn_send::token::Dollar"]::after,
a.struct[title="struct syn_send::token::DotDotEq"]::after,
a.struct[title="struct syn_send::token::MinusEq"]::after,
a.struct[title="struct syn_send::token::PathSep"]::after,
a.struct[title="struct syn_send::token::SelfValue"]::after,
a.struct[title="struct syn_send::token::SlashEq"]::after {
	content: "...";
}

a.struct[title="struct syn_send::token::AndAnd"]::after,
a.struct[title="struct syn_send::token::Caret"]::after,
a.struct[title="struct syn_send::token::Colon"]::after,
a.struct[title="struct syn_send::token::Comma"]::after,
a.struct[title="struct syn_send::token::DotDot"]::after,
a.struct[title="struct syn_send::token::LArrow"]::after,
a.struct[title="struct syn_send::token::Minus"]::after,
a.struct[title="struct syn_send::token::PlusEq"]::after,
a.struct[title="struct syn_send::token::Pound"]::after,
a.struct[title="struct syn_send::token::RArrow"]::after,
a.struct[title="struct syn_send::token::SelfType"]::after,
a.struct[title="struct syn_send::token::Slash"]::after,
a.struct[title="struct syn_send::token::StarEq"]::after,
a.struct[title="struct syn_send::token::Tilde"]::after {
	content: "....";
}

a.struct[title="struct syn_send::token::AndEq"]::after,
a.struct[title="struct syn_send::token::Plus"]::after,
a.struct[title="struct syn_send::token::Semi"]::after,
a.struct[title="struct syn_send::token::Star"]::after {
	content: ".....";
}

a.struct[title="struct syn_send::token::And"]::after,
a.struct[title="struct syn_send::token::Dot"]::after,
a.struct[title="struct syn_send::token::EqEq"]::after,
a.struct[title="struct syn_send::token::Not"]::after,
a.struct[title="struct syn_send::token::OrEq"]::after,
a.struct[title="struct syn_send::token::OrOr"]::after,
a.struct[title="struct syn_send::token::ShlEq"]::after,
a.struct[title="struct syn_send::token::ShrEq"]::after {
	content: "......";
}

a.struct[title="struct syn_send::token::At"]::after,
a.struct[title="struct syn_send::token::Eq"]::after,
a.struct[title="struct syn_send::token::Gt"]::after,
a.struct[title="struct syn_send::token::Lt"]::after,
a.struct[title="struct syn_send::token::Or"]::after,
a.struct[title="struct syn_send::token::Shl"]::after,
a.struct[title="struct syn_send::token::Shr"]::after {
	content: ".......";
}

a.struct[title="struct syn_send::token::Abstract"]::after,
a.struct[title="struct syn_send::token::As"]::after,
a.struct[title="struct syn_send::token::Async"]::after,
a.struct[title="struct syn_send::token::Auto"]::after,
a.struct[title="struct syn_send::token::Await"]::after,
a.struct[title="struct syn_send::token::Become"]::after,
a.struct[title="struct syn_send::token::Box"]::after,
a.struct[title="struct syn_send::token::Break"]::after,
a.struct[title="struct syn_send::token::Const"]::after,
a.struct[title="struct syn_send::token::Continue"]::after,
a.struct[title="struct syn_send::token::Crate"]::after,
a.struct[title="struct syn_send::token::Default"]::after,
a.struct[title="struct syn_send::token::Do"]::after,
a.struct[title="struct syn_send::token::Dyn"]::after,
a.struct[title="struct syn_send::token::Else"]::after,
a.struct[title="struct syn_send::token::Enum"]::after,
a.struct[title="struct syn_send::token::Extern"]::after,
a.struct[title="struct syn_send::token::Final"]::after,
a.struct[title="struct syn_send::token::Fn"]::after,
a.struct[title="struct syn_send::token::For"]::after,
a.struct[title="struct syn_send::token::Ge"]::after,
a.struct[title="struct syn_send::token::If"]::after,
a.struct[title="struct syn_send::token::Impl"]::after,
a.struct[title="struct syn_send::token::In"]::after,
a.struct[title="struct syn_send::token::Le"]::after,
a.struct[title="struct syn_send::token::Let"]::after,
a.struct[title="struct syn_send::token::Loop"]::after,
a.struct[title="struct syn_send::token::Macro"]::after,
a.struct[title="struct syn_send::token::Match"]::after,
a.struct[title="struct syn_send::token::Mod"]::after,
a.struct[title="struct syn_send::token::Move"]::after,
a.struct[title="struct syn_send::token::Mut"]::after,
a.struct[title="struct syn_send::token::Ne"]::after,
a.struct[title="struct syn_send::token::Override"]::after,
a.struct[title="struct syn_send::token::Priv"]::after,
a.struct[title="struct syn_send::token::Pub"]::after,
a.struct[title="struct syn_send::token::Raw"]::after,
a.struct[title="struct syn_send::token::Ref"]::after,
a.struct[title="struct syn_send::token::Return"]::after,
a.struct[title="struct syn_send::token::Static"]::after,
a.struct[title="struct syn_send::token::Struct"]::after,
a.struct[title="struct syn_send::token::Super"]::after,
a.struct[title="struct syn_send::token::Trait"]::after,
a.struct[title="struct syn_send::token::Try"]::after,
a.struct[title="struct syn_send::token::Type"]::after,
a.struct[title="struct syn_send::token::Typeof"]::after,
a.struct[title="struct syn_send::token::Union"]::after,
a.struct[title="struct syn_send::token::Unsafe"]::after,
a.struct[title="struct syn_send::token::Unsized"]::after,
a.struct[title="struct syn_send::token::Use"]::after,
a.struct[title="struct syn_send::token::Virtual"]::after,
a.struct[title="struct syn_send::token::Where"]::after,
a.struct[title="struct syn_send::token::While"]::after,
a.struct[title="struct syn_send::token::Yield"]::after {
	content: "........";
}
